/* GLOBAL STUFF */

.body-wrapper{
  min-height: 73vh;
}

/* .col-no-padding{
  padding: 0px;
} */

/* COLOR THINGS */

.aqua-color{
  color: #40B39E;
}

.blue-color{
  color: #00B2CA;
}

/* FONT THINGS */

.bold-text{
  font-weight: 700;
}


/* ICON THINGS */

.red-heart{
  color: #FF4B4B;
}

/* HOME PAGE THINGS */

.results-wrapper{
  margin-left: 15%;
  margin-right: 15%;
}

.best-price-wrapper{
  margin-top: 50px;
  margin-bottom: 10px;
}

.best-price-header{
  color: #FFCE00;
  font-size: 20px;
  font-weight: 600;
}

/* STORE CARD THINGS */

.store-card-wrapper{
  margin-bottom: 20px;
}

.store-card{
  border: 1px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.store-card-text-wrapper{
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.store-card-store-name{
  font-size: 23px;
  color: #646464;
  font-weight: 500;
}

.store-card-store-address{
  font-weight: 300;
  color: #646464;
  font-size: 16px;
}

.store-card-tags-wrapper{
  margin-top: 8px;
  margin-bottom: 8px;
}

.store-card-in-store-price{
  font-size: 19px;
  color: #40B39E;
  font-weight: 600;
}

.store-card-original-price{
  font-size: 19px;
  color: #F13756;
  font-weight: 600;
  text-decoration: line-through;
}

.store-card-reserve-button{
  margin-top: 10px;
  height: 34px;
  width: 120px;
  border: 1px solid #40B39E;
  border-radius: 10px;
  background-color: #40B39E;
  color: #ffffff;
}

.store-card-reserve-button:hover{
  margin-top: 10px;
  height: 34px;
  width: 120px;
  border: 1px solid #70cfbe;
  border-radius: 10px;
  background-color: #70cfbe;
  color: #ffffff;
}

.store-card-map-wrapper{
  margin-right: 40px;
}

.store-card-directions-button{
  margin-top: 10px;
  height: 34px;
  width: 120px;
  border: 1px solid #759ce4;
  border-radius: 10px;
  background-color: #759ce4;
  color: #ffffff;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.store-card-directions-button:hover{
  margin-top: 10px;
  height: 34px;
  width: 120px;
  border: 1px solid #90afe7;
  border-radius: 10px;
  background-color: #90afe7;
  color: #ffffff;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: None;
}




/* STORE CARD TAG THINGS */

.store-card-tag{
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 8px;
  margin-right: 10px;
}

.store-card-tag-text{
  margin-left: 4px;
  color: #272727;
  font-weight: 300;
}

/* SEARCH HEADER THINGS */

.search-header-wrapper{
  margin-top: 80px;
}

.search-header-text-wrapper{
  margin-top: 40px;
}

.search-header-text{
  color: #707070;
  font-size: 18px;
}

.search-bar-wrapper{
  margin-top: 15px;
}

.search-bar{
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: None;
  height: 30px;
  background-color: transparent;
  width: 250px;
  color: #414141;
  border: 1px solid #b6b6b6;
}

.search-bar-button{
  border: 1px solid #40B39E;
  border-radius: 7px;
  background-color: #40B39E;
  margin-left: 6px;
  height: 38px;
  width: 38px;
}

.search-bar-icon{
  color: #ffffff;
  font-size: 16px;
}

.search-bar-form{
  display: block;
}

.location-icon{
  color: #ffffff;
  font-size: 16px;
}

.location-input{
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 30px;
  box-shadow: None;
  height: 30px;
  background-color: transparent;
  width: 150px;
  color: #414141;
  border: 1px solid #b6b6b6;
}

.search-header-find-place .css-2b097c-container{
  width: 300px;
 
}

.locate-me-text{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 30px;
}


/* FOOTER THINGS */

.footer-wrapper{
  width: 100%;
  height: 50px;
  background-color: #40B39E;
  margin-top: 100px;
}

.footer{
  padding-top: 10px;  
}

.footer-text-wrapper{
  margin-left: 50px;
}

.footer-text{
  color: #eeeeee;
  font-size: 18px;
}